@page "/home"

<PageTitle>Home</PageTitle>


<div style="display: flex; justify-content: center; align-items: center; height: 60vh; text-align: center;">
    <h1 style="font-size: 3rem; color: #333;">¡Bienvenido!</h1>
</div>
